.point-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 140px;
  height: 155px;
  padding: 10px !important;
}

.point-status .status-column {
  flex: 1;
}

.point-status .status-column .work-status {
  margin-bottom: 15px;
}

.point-status .text-column {
  flex: 2;
}

.point-status .text-column .work-status {
  width: 80px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.point-status .text-column .work-status-margin {
  margin-bottom: 15px;
}
